PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/crawlermilhas

ACCESS_TOKEN=access_token
ACCESS_TOKEN_SECRET=your-access-token-secret

REFRESH_TOKEN=refresh_token
REFRESH_TOKEN_SECRET=your-refresh-token-secret

ZAPI_INSTANCE_ID=your-zapi-instance-id
ZAPI_TOKEN=your-zapi-token
ZAPI_CLIENT_TOKEN=your-zapi-client-token

FRONTEND_URL=http://localhost:3000

N8N_WEBHOOK_URL=https://seu-n8n.com/webhook/chat